<article class="pa4 black-80">
  <form action="/notebooks/<%= @notebook.id %>" method="post">
    <fieldset class="ba b--transparent ph0 mh0">
      <legend class="f4 fw6 ph0 mh0">Add Bookmark</legend>
      <div class="mt3">
        <label class="db fw4 lh-copy f6" for="link">Bookmark</label>
        <input class="b pa2 input-reset ba w-third mw5" type="text" name="link"  id="link">
      </div>
    </fieldset>
    <div class="mt3"><input class="f6 link dim br-pill ph3 pv2 mb2 dib white bg-black" type="submit" value="Add"></div>
  </form>
</article>
