<article class="pa4 black-80">
  <form action="/notebooks" method="post" class="measure center">
    <fieldset class="ba b--transparent ph0 mh0">
      <legend class="f4 fw6 ph0 mh0">Add Notebook</legend>
      <div class="mt3">
        <label class="db fw4 lh-copy f6" for="title">Notebook title</label>
        <input class="b pa2 input-reset ba bg-transparent" type="text" name="title"  id="title">
      </div>
      <div class="mt3">
        <label class="db fw4 lh-copy f6" for="password">Description</label>
        <input class="b pa2 input-reset ba bg-transparent" type="description" name="description"  id="description">
      </div>
    </fieldset>
    <div class="mt3"><input class="f6 link dim br-pill ph3 pv2 mb2 dib white bg-black" type="submit" value="Add"></div>
  </form>
</article>
