<section class="cf w-100 pa2-ns">
  <article class="fl w-100 w-50-m  w-25-ns pa2-ns">
    <a href="/notebooks/<%= @notebook.id %>/edit" class="ph2 ph0-ns pb3 link db">
      <h2 class="f4 f4-ns mb0 black-90">#00<%= @notebook.id %></h2>
      <h3 class="f5 f4-ns mb0 black-90"><%= @notebook.title %></h3>
      <h3 class="f6 f5 fw4 mt2 black-60"><%= @notebook.description %></h3>
    </a>
  </article>
</section>
