<article class="pa4 black-80">
  <form action="/notebooks/<%= @notebook.slug %>/tasks" method="post">
    <fieldset class="ba b--transparent ph0 mh0">
      <legend class="f4 fw6 ph0 mh0">Add Task</legend>
      <div class="mt3">
        <input class="pa2 input-reset ba w-two-thirds mw6" type="text" name="name"  id="name">
      </div>
    </fieldset>
    <div class="mt3"><input class="f6 link dim br-pill ph3 pv2 mb2 dib white bg-black" type="submit" value="Add"></div>
  </form>
</article>
