<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Paper</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="/images/favicon.ico">
    <link rel="stylesheet" href="https://unpkg.com/tachyons@4.9.0/css/tachyons.min.css"/>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
  </head>
  <body>
    <nav class="pa3 pa4-ns">
      <a class="link dim black b f1 f-headline-ns tc db mb3 mb4-ns" href="/" title="Home">Paper</a>
      <div class="tc pb3">
        <a class="link dim gray f6 f5-ns dib mr3" href="/signup" title="Home">Sign Up</a>
        <a class="link dim gray f6 f5-ns dib mr3" href="/login" title="About">Login</a>
      </div>
    </nav>
  </body>
</html>
