<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Paper</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="/images/favicon.ico">
    <link rel="stylesheet" href="https://unpkg.com/tachyons@4.9.0/css/tachyons.min.css"/>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
  </head>
  <body>
    <nav class="pa3 pa4-ns">
      <a class="link dim black b f6 f5-ns dib mr3" href="/" title="Home">Paper</a>
      <a class="link dim gray    f6 f5-ns dib mr3" href="#" title="Preferences">Preferences</a>
      <a class="link dim gray    f6 f5-ns dib mr3" href="/notebooks/new" title="Preferences">Add Notebook</a>
      <a class="link dim gray    f6 f5-ns dib mr3" href="/logout" title="Logout">Logout</a>
    </nav>
    <%= yield %>
  </body>
</html>
